.background {
    width: 100%;
    height: 100vh;

    &__left::before{
        content: '';
        background-color: $offWhite;
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__right::before{
        content: '';
        background-color: $offBlack;
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }
}