// Colors

// $offWhite: #F2F2F2;
// $gray: #8C8C88;
// $lightGreen: #9DA65D;
// $darkerGreen: #6C733D;
// $offBlack: #202426;

$offWhite: #F1FAEE;
$darkerGreen: #E63946;
$lightGreen: #A8DADC;
$gray: #457B9D;
$offBlack: #1D3557;
