* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  padding-left: 5rem;
  padding-right: 5rem;
}

.background {
  width: 100%;
  height: 100vh;
}

.background__left::before {
  content: '';
  background-color: #F1FAEE;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.background__right::before {
  content: '';
  background-color: #1D3557;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.header {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  padding-top: 5rem;
}

.header__logo img {
  width: 60px;
}

.main {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.main__left {
  width: 50%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 7.3%;
  padding-left: 5rem;
}

.main__left__content {
  width: 500px;
}

.main__left__text :first-child {
  float: left;
  margin-right: 0.7rem;
  color: #1D3557;
}

.main__left__text :nth-child(2) {
  color: #E63946;
}

.main__left__text h1 {
  font-size: 4rem;
}

.main__left__text h2 {
  font-size: 2rem;
  color: #1D3557;
  margin-bottom: 4.2rem;
  font-weight: 400;
}

.main__left__middle {
  position: relative;
}

.main__left__middle__button {
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  color: white;
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1em 3em;
  background: -webkit-gradient(linear, left top, right top, from(#1D3557), to(#E63946));
  background: linear-gradient(90deg, #1D3557 0%, #E63946 100%);
  -webkit-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 41.5px;
}

.main__left__middle__button:hover {
  background: -webkit-gradient(linear, left top, right top, from(#1d3557d0), to(#e63947d3));
  background: linear-gradient(90deg, #1d3557d0 0%, #e63947d3 100%);
}

.main__left__middle__signature {
  position: absolute;
  bottom: -60px;
  left: 150px;
  width: 250px;
  height: 150px;
}

.main__left__social {
  margin-top: 5rem;
  margin-left: 16rem;
}

.main__left__social img {
  width: 30px;
}

.main__left__social img:hover {
  -webkit-filter: brightness(0) saturate(100%);
          filter: brightness(0) saturate(100%);
  -webkit-filter: invert(23%) sepia(99%) saturate(2849%) hue-rotate(342deg) brightness(79%) contrast(150%);
          filter: invert(23%) sepia(99%) saturate(2849%) hue-rotate(342deg) brightness(79%) contrast(150%);
  cursor: pointer;
}

.main__left__social :not(:last-child) {
  margin-right: 1rem;
}

.main__middle img {
  position: absolute;
  z-index: 3;
  bottom: 0;
  width: 32.81%;
  max-width: 630px;
  padding-right: 50px;
}

.main__right {
  width: 50%;
  height: 100%;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__right h1 {
  color: #F1FAEE;
  font-size: 4rem;
}

.main__right span {
  color: #E63946;
}

.main__aside {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  width: 40px;
  height: 100%;
}

.main__aside nav {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.main__aside__list {
  list-style-type: none;
  color: #F1FAEE;
  font-size: 1.2rem;
  font-weight: 300;
  width: 540px;
}

.main__aside li {
  position: relative;
  padding: 0.5rem 0;
}

.main__aside li::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #E63946;
  opacity: 0;
  bottom: -6px;
}

.main__aside li:hover {
  color: #A8DADC;
  -webkit-transition: color ease-in-out 250ms;
  transition: color ease-in-out 250ms;
  cursor: pointer;
  font-weight: 600;
}

.main__aside li:hover::before {
  opacity: 1;
  -webkit-transition: opacity ease-in-out 150ms;
  transition: opacity ease-in-out 150ms;
}
/*# sourceMappingURL=style.css.map */